{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <a href="/users/create" class="btn waves-effect waves-light">Create user</a>

  <table class="striped">
    <thead>
      <tr>
        <th>username</th>
        <th>remaining credits</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
    {% if users|length > 0 %}
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.credit }}</td>
          <td>
            <a href="/users/credit/{{ user.id }}" class="btn-floating waves-light waves-effect tooltipped" data-position="right" data-tooltip="add credit">
              <i class="material-icons">account_balance_wallet</i>
            </a>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
{% endblock %}
