<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/materialize.icon.css' />
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="container">
          {% block body %}{% endblock %}
      </div>

      <script src="/javascripts/materialize.min.js"></script>
      <script src="/javascripts/app.js"></script>
      {% block js %}{% endblock %}
  </body>
</html>
