{% extends '../layout.twig' %}

{% block body %}
    <div class="container">
        <h1>Create a user</h1>

        <form action="/api/user/create" method="post">
            <label for="username">username</label>
            <input id="username" type="text" name="username" required>

            <label for="password">password</label>
            <input id="password" type="password" name="password" required>

            <button class="btn waves-effect waves-light" type="submit">Save</button>
            <a href="/" class="btn waves-effect waves-light">Cancel</a>
        </form>
    </div>
{% endblock %}

{% block js %}
    {% if error is defined %}
        <script>
            M.toast({html: '{{ error }}', classes: 'invalid'});
        </script>
    {% endif %}
{% endblock %}