{% extends '../layout.twig' %}

{% block body %}
    <div class="container">
        <h1>Add credit to {{ user.username }}</h1>
        <form action="/api/user/update" method="post">
            <label for="credit">username</label>
            <input id="credit" type="text" name="credit" value="{{ user.credit }}">

            <input type="text" hidden value="{{ user.id }}" name="id">

            <button class="btn waves-effect waves-light" type="submit">Save</button>
            <a href="/" class="btn waves-effect waves-light">back</a>
        </form>
    </div>
{% endblock %}

{% block js %}
    {% if error is defined %}
        <script>
            M.toast({html: '{{ error }}', classes: 'invalid'});
        </script>
    {% endif %}
{% endblock %}